<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Restaurant</title>
</head>
<body>

<div class="container" style="width: 100%">
    <div class="row">
        <div class="col-xs-12" style="background-color:gray; height:50px">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Restaurant</a>
                    </div>

                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Użytkownicy
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/newUser">Dodaj</a></li>
                                <li><a href="/admin/listUser">Lista</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Restauracje
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/restaurant/newRestaurant">Dodaj</a></li>
                                <li><a href="/admin/restaurant/listRestaurants">Lista</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dania
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/dish/newDish">Dodaj</a></li>
                                <li><a href="/admin/dish/listDishes">Lista</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form method="GET" th:action="@{/logout}" class="navbar-form navbar-right">

                        <input type="hidden">
                        <button type="submit" name="logout" value="true" class="btn btn-secondary">
                            Logout <span class="badge badge-light"><font size="2" th:text="${currentUserName}">default</font></span>
                        </button>
                    </form>
                </div>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1" style="background-color:lightgray; height:800px"></div>
        <div class="col-xs-10 text-center" style="background-color:white; height:800px; display: table"><br>

            <div th:if="${param.nameIsUsed}" class="alert alert-error align-center">
                <span>Nazwa jest zajęta</span>
            </div>

            <div class="container" style="width: 700px; background-color: #f8f8f8; border: solid lightgray 1px">
                <form class="form-horizontal" role="form" th:action="@{/admin/restaurant/confirmAddRestaurant}" method="post">
                    <h2>Dodaj restaurację</h2>
                    <div class="form-group">
                        <label for="nazwa" class="col-sm-3 control-label">Nazwa</label>
                        <div class="col-sm-9">
                            <input type="text" id="nazwa" placeholder="nazwa" class="form-control" autofocus name="nazwa" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adres" class="col-sm-3 control-label">Adres</label>
                        <div class="col-sm-9">
                            <input type="text" id="adres" placeholder="adres" class="form-control" name="adres" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-xs-1" style="background-color:lightgray; height:800px"></div>
    </div>
</div>
</body>
</html>
