<!doctype html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>
<body>

<div class="container" style="width: 100%">
    <div class="row">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/admin/homepage">Restaurant</a>
                    </div>
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Użytkownicy
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/newUser">Dodaj</a></li>
                                <li><a href="/admin/listUsers">Lista</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Restauracje
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/restaurant/newRestaurant">Dodaj</a></li>
                                <li><a href="/admin/restaurant/listRestaurants">Lista</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Dania
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/dish/newDish">Dodaj</a></li>
                                <li><a href="/admin/dish/listDishes">Lista</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Raporty
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/admin/report/dailyReportPage">Rapordy dzienne</a></li>
                                <li><a href="/admin/report/periodicReportPage">Raporty okresowe</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form method="GET" th:action="@{/logout}" class="navbar-form navbar-right">

                        <input type="hidden">
                        <button type="submit" name="logout" value="true" class="btn btn-secondary">
                            Logout <span class="badge badge-light"><font size="2" th:text="${currentUserName}">default</font></span>
                        </button>
                    </form>
                </div>
            </nav>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center" style="display: table"><br>

            <div th:if="${param.usernameIsUsed}" class="alert alert-error align-center">
                <span>Nazwa użytkownika jest zajęta</span>
            </div>

            <div class="container" style="max-width: 700px; background-color: #f8f8f8; border: solid lightgray 1px">
                <form class="form-horizontal" role="form" th:action="@{/admin/confirmAddUser}" method="post">
                    <h1>Dodaj uzytkownika</h1><br>
                    <div class="form-group">
                        <label for="imie" class="col-sm-3 control-label" style="font-size: 20px;">Imie</label>
                        <div class="col-sm-9">
                            <input type="text" id="imie" placeholder="imie" class="form-control input-lg" autofocus name="imie" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nazwisko" class="col-sm-3 control-label" style="font-size: 20px;">Nazwisko</label>
                        <div class="col-sm-9">
                            <input type="text" id="nazwisko" placeholder="nazwisko" class="form-control input-lg" name="nazwisko" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label" style="font-size: 20px;">Login</label>
                        <div class="col-sm-9">
                            <input type="text" id="username" placeholder="username" class="form-control input-lg" name="username" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label" style="font-size: 20px;">Haslo</label>
                        <div class="col-sm-9">
                            <input type="password" id="password" name="password" placeholder="password" class="form-control input-lg" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="restauracja" class="col-sm-3 control-label" style="font-size: 20px;">Restauracja</label>
                        <div class="col-sm-9">
                            <select id="restauracja" class="form-control input-lg" name="restaurant">
                                <option th:each="restaurant : ${restaurants}"><p th:text="${restaurant.name}"></p></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary btn-block">Dodaj</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>
